# Ignore Fortran build artifacts.

*.dSYM
*.o
*.a
*.exe
*.mod
*.cbp


# Ignore CMake artifacts.

CMakeCache.txt
cmake_install.cmake
CMakeFiles/


# Ignore Vagrant runtime files.

.vagrant/


# Ignore IDE settings.

.idea/
.project/
.vscode/
nbproject/
*.code-workspace


# Ignore OS metadata files.

.DS_Store
Thumbs.db
